@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-blue, 600);
$accent:  mat-palette($mat-light-blue, 600, 300, 600);
$warn:    mat-palette($mat-deep-orange, 500, 700, 800);

$font-stack:    Arial, sans-serif;
$primary-color: darkcyan;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.center {
  position: absolute;
  font: 100% $font-stack;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: ivory;;
  left: 50%;
  transform: translateX(-75%);
  background-position: 0%;
}

.container {
  background-color: teal;
}

